header{
  margin-bottom: 50px;
}
.communication{
  margin-bottom: 128px;
}
.communication__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  text-align: center;
  color: #1D2130;
  margin-bottom: 64px;
}
.communication__content{
  background-color: #F0F2FE;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 64px;
}

.content__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #1D2130;
  margin-bottom: 16px;
}
.content__subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1D2130;
  margin-bottom: 48px;
}
.content__inputs{
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
}
.content__top-input{
  display: flex;
  justify-content: space-between;
}
.communication__input{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D2130;
  opacity: 0.8;
  padding: 20px 24px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.content__top-input input{
  width: 48%;
}
.contact__button{
  padding: 16px;
}
.communication__contact{
  margin-top: 142px;
}
.contact__box{
  display: flex;
  margin-bottom: 36px;
  align-items: center;
}
.contact__img{
  border-radius: 50%;
}
.contact__text{
  margin-left: 24px;
}
.contact__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #1D2130;
}
.contact__subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D2130;
  opacity: 0.6;
}
@media screen and (max-width: 1199.98px) {
  .content__inputs{
    width: 90%;
  }
}
@media screen and (max-width: 991.98px) {
  .communication__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__inputs{
    width: 100%;
  }
  .communication__title{
    font-size: 45px;
  }
}
@media screen and (max-width: 767.98px) {
  .communication__title{
    font-size: 35px;
  }
  header{
    margin-bottom: 0;
  }
  .content__title{
    font-size: 30px;
  }
  .content__subtitle{
    font-size: 15px;
  }
  .communication__input{
    padding: 12px 20px;
    font-size: 15px;
  }
  .contact__button{
    padding: 12px 20px;
  }
  .communication__contact{
    margin-top: 50px;
  }
  .contact__title{
    font-size: 18px;
  }
  .contact__subtitle{
    font-size: 15px;
  }
  .contact__text{
    margin-left: 10px;
  }
}
@media screen and (max-width: 575.98px){
  .content__top-input{
    display: flex;
    flex-direction: column;
  }
  .content__top-input input{
    width: 100%;
  }
  .content__inputs{
    width: 400px;
  }
  .communication__content{
    padding: 55px 15px;
  }
}
@media screen and (max-width: 499.98px) {
  .content__inputs{
    width: 100%;
  }
  .communication__title{
    font-size: 30px;
  }
  .content__title{
    font-size: 25px;
  }
  .content__subtitle{
    font-size: 13px;
    margin-bottom: 30px;
  }
  .contact__button{
    font-size: 15px;
  }
  .contact__title{
    font-size: 16px;
  }
  .contact__subtitle{
    font-size: 13px;
  }
}