.box__blur{
  background: radial-gradient(483.9% 2719.65% at -49.5% -250%, #D798E1 17.55%, #9BFFA5 27.56%, #AED3FF 49.89%, #C9D4EF 56.53%, #CACFFA 65.69%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(500px);
  position: absolute;
  width: 556px;
  height: 556px;
  right: 477px;
  top: 465px;
  z-index: -1;
}
.button{
  transition: all 0.3s ease;
}

/* style codes */

header{
  margin-bottom: 36px;
}
.pricing{
  position: relative;
  margin-bottom: 128px;
}
.form__box{
  display: flex;
  margin-bottom: 48px;
}
.button__box{
  display: flex;
  width: 270px;
  margin: 35px auto;
  height: 65px;
  position: relative;
  background: #E0E4FC;
  border-radius: 20px;
}
.toggle__month,
.toggle__year{
  padding: 10px 40px 10px 50px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.toggle__year{
  padding-left: 40px;
}
#btn{
  top: 6px;
  left: 0;
  margin-left: 5px;
  position: absolute;
  width: 52%;
  height: 52px;
  background: #1D2130;
  border-radius: 30px;
  transition: 0.5s;
}
.pricing__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  text-align: center;
  color: #1D2130;
  width: 592px;
  margin: 0 auto 24px;
}
.pricing__subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1D2130;
  opacity: 0.87;
  width: 392px;
  margin: 0 auto 14px;
}
.price__box{
  padding: 48px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* transition: all 0.5s ease; */
  /* margin: -3px; */
}
/* .price__box:hover{
  background: linear-gradient(175.67deg, #D7E7F9 13.12%, #D5F4EC 96.48%);
  border: 3px solid #6B7CFF;
  margin: -3px;
  box-sizing: border-box;
} */
.price__menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.price__menu-top{
  display: flex;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 32px;
}
.price__menu-text{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.price__top-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #1D2130;
}
.price__top-subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D2130;
  opacity: 0.6;
}
.price__list{
  margin-bottom: 32px;
}
.price__list-item{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.price__list-item img{
  border-radius: 50%;
}
.price__list-item span{
  margin-left: 16px;
}
.price__bottom-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #1D2130;
  opacity: 0.87;
  margin-bottom: 48px;
}
.price__bottom-price{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #1D2130;
  margin: 0 auto 1px;
}
.price__bottom-subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1D2130;
  opacity: 0.6;
  margin: 0 auto 24px;
}
.price__bottom-link{
  width: 161px;
  height: 56px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

/* section question start */
section.question{
  margin-bottom: 128px;
}
.questions__container{
  background: #F0F2FE;
  border-radius: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 32px;
  padding: 64px;
}
.question__text{
  display: flex;
  flex-direction: column;
}
.question__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1D2130;
  width: 448px;
  margin-bottom: 30px;
  display: inline-block;
}
.question__subtitle{
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D2130;
  opacity: 0.87;
  width: 448px;
}
.question__item{
  margin-bottom: 16px;
  background-color: white;
  border-radius: 24px;
  padding: 40px;
}
.question__item-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #1D2130;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.question__item-subtitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  color: #1D2130;
  opacity: 0.87;
}
.question__hide{
  height: 112px;
}
.question__hide p{
  margin-top: 35px;
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .pricing__title{
    font-size: 50px;
  }
  .pricing__subtitle{
    font-size: 17px;
  }
  .price__menu{
    grid-template-columns: 1fr 1fr;
  }
  .price__menu{
    grid-gap: 100px;

  }
  .price__box:last-child{
    position: relative;
    top: 0;
    left: 62%;
  }
  .questions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question__title{
    width: 80%;
    margin: 0 auto 30px;
    text-align: center;
  }
  .question__subtitle{
    width: 80%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 991.98px) {
  .pricing__title{
    font-size: 45px;
  }
  .pricing__subtitle{
    font-size: 15px;
  }
  .form__box{
    margin-bottom: 25px;
  }
  .price__menu{
    grid-gap: 35px;
  }
  .price__box:last-child{
    left: 55%;
  }
  .question__title{
    font-size: 40px;
  }
  .question__subtitle{
    font-size: 14px;
  }
  .question__item{
    padding: 25px;
  }
  .question__item-title{
    font-size: 20px;
    margin-bottom: 0;
  }
  .question__item-subtitle{
    font-size: 13px;
  }
  .question__item.question__hide{
    height: auto;
  }
}
@media screen and (max-width: 767.98px) {
  header{
    padding-bottom: 50px;
  }
  .pricing__title{
    width: 80%;
    font-size: 40px;
  }
  .price__menu{
    grid-template-columns: 1fr;
  }
  .price__box{
    width: 80%;
    margin: auto;
  }
  .price__box:last-child{
    left: 0;
  }
  .box__blur:last-child{
    top: 1800px;
  }
  .button__box{
    height: 50px;
  }
  #btn{
    padding: 10px;
    height: 38px;
  }
  .price__top-title{
    font-size: 30px;
  }
  .price__top-subtitle{
    font-size: 12px;
  }
  .price__list-item span{
    font-size: 15px;
    font-weight: bold;
  }
  .price__list{
    margin-bottom: 10px;
  }
  .price__bottom-text{
    margin-bottom: 25px;
  }
  .question__title{
    font-size: 35px;
  }
}

@media screen and (max-width: 575.98px){
  .price__box{
    padding: 35px 25px;
    width: 80%;
  }
  .question__item-title{
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 419.98px){
  .pricing__title{
    font-size: 35px;
    width: 100%;
  }
  .pricing__subtitle{
    font-size: 13px;
    width: 80%;
  }
  .price__box{
    padding: 20px;
  }
  .price__top-title{
    font-size: 20px;
  }
  .price__top-subtitle{
    font-size: 11px;
  }
  .price__bottom-price{
    font-size: 25px;
  }
  .price__list-item span{
    font-size: 13px;
  }
  .price__bottom-text{
    font-size: 12px;
  }
  .price__bottom-link{
    font-size: 13px;
    padding: 0;
  }
  .questions__container{
    padding: 15px;
  }
  .question__title{
    font-size: 30px;
    width: 100%;
  }
  .question__subtitle{
    font-size: 14px;
    width: 100%;
  }

}
@media screen and (max-width: 359.98px){

}
